@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF Pro Display';
    src: local('-apple-system'), local('BlinkMacSystemFont');
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue');
  }
}

.font-sf-pro {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.font-helvetica-neue {
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

body {
  @apply antialiased;
}